.box{border:10px solid #fff;box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);}
.header{
  background-color: @color-primary;
  h3 {
    margin-top: 0;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    border-bottom: 10px solid #fff;
  }
}