.container.spacer-lg
  .col-md-12
    #bracon-carousel.carousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators.hidden-xs.hidden-sm
        li.active(data-target='#bracon-carousel', data-slide-to='0')
        li(data-target='#bracon-carousel', data-slide-to='1')
        li(data-target='#bracon-carousel', data-slide-to='2')
        li(data-target='#bracon-carousel', data-slide-to='3')
      // Wrapper for slides
      .carousel-inner(role='listbox')
        .item.active
          img(src='img/slyde1.png', alt='...')
          .carousel-caption
            h2
              | BEM VINDO
              br
            p.hidden-xs.hidden-sm
              | Um engenheiro é um profissional de engenharia, preocupado com a aplicação do conhecimento científico, matemática e criatividade para desenvolver soluções para problemas técnicos. Deixe a Bracon Engenharia cuidar do seu empreendimento com muita dedicação e responsabilidade.
        .item
          img(src='img/slyde2.png', alt='...')
          .carousel-caption
            h2
              |  25 ANOS DE EXPERIÊNCIA
        .item
          img(src='img/slyde3.png', alt='...')
          .carousel-caption
            h2
              |  25 ANOS DE EXPERIÊNCIA
        .item
          img(src='img/slyde4.png', alt='...')
          .carousel-caption
            h2
              |  25 ANOS DE EXPERIÊNCIA
      // Controls
      a.left.carousel-control(href='#bracon-carousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#bracon-carousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next
