.container.spacer-lg
  .col-md-12
    h2 ESPECIALIDADES
    .box
      p Empresa de construção civil atuando desde 1990 na execução/construção de obras públicas e privadas 
      ul.list-unstyled
        li
          p
            strong CONSTRUÇÃO DE EDIFICAÇÕES RESIDENCIAIS
        li
          p
            strong CONSTRUÇÃO DE EDIFICAÇÕES COMERCIAIS
        li
          p
            strong REFORMAS RESIDENCIAIS
        li
          p
            strong OBRAS DE URBANIZAÇÃO
        li
          p
            strong ESTRUTURAS EM CONCRETO ARMADO E METÁLICA
        li
          p
            strong OBRAS PÚBLICAS
      br
        
      ul.list-unstyled
        li
          p
            strong Execução de reformas em obras públicas e privadas
        li
          p
            strong Execução de obras residenciais e comerciais
        li
          p
            strong Execução de obras desde a fundação ao acabamento 
        li
          p
            strong Fundações diversas
        li
          p 
            strong Estruturas de concreto armado
        li
          p 
            strong Estruturas metálicas
        li
          p 
            strong Pisos de alta resistência
        li
          p 
            strong Pavimentação de blocos inter travados
        li
          p 
            strong Cerâmicas, porcelanatos, pedras e etc..
        li
          p 
            strong Impermeabilizações
        li
          p 
            strong Instalações elétricas e hidráulicas
        li
          p 
            strong Paredes alvenaria e dry wall
        li
          p 
            strong Pinturas...
