.container.spacer-lg
  .col-md-12
    h2 ESPECIALIDADES
    .box
      ul.list-unstyled
        li
          p 
            strong Especialidade 1
        li
          p 
            strong Especialidade 2
        li
          p 
            strong Especialidade 3
        li
          p 
            strong Especialidade 4
        li
          p 
            strong Especialidade 5
