.container.spacer-lg
  .col-md-12
    h2 ESPECIALIDADES
    .box
      p Empresa de construção civil atuando desde 1990 na execução/construção de obras públicas e privadas 
      ul.list-unstyled
        li
          p
            strong CONSTRUÇÃO DE EDIFICAÇÕES RESIDENCIAIS
        li
          p
            strong CONSTRUÇÃO DE EDIFICAÇÕES COMERCIAIS
        li
          p
            strong REFORMAS RESIDENCIAIS
        li
          p
            strong OBRAS DE URBANIZAÇÃO
        li
          p
            strong ESTRUTURAS EM CONCRETO ARMADO E METÁLICA
        li
          p
            strong OBRAS PÚBLICAS
   