#galeria1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='galeria-label')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4#galeria-label.modal-title.modal-title--title Prédio Brasília Capital do Brasil
      .modal-body.modal-body--js

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Fechar