.container.spacer-lg
  .col-md-12
    h2 GALERIA
    .col-md-12.box
      .row
        .col-md-12
          .media
            .media-left
              a(href='galeria-andamento.html')
                img.media-object.thumbnail(src='img/fotos-bracon/andamento/uniceub/image11.jpg', width="300px" alt='...')
            .media-body
              h4.media-heading Obras em andamento
              |     Clique na imagem e confira
          .media
            .media-left
              a(href='galeria-finalizados.html')
                img.media-object.thumbnail(src='img/fotos-bracon/finalizadas/sambaia-porto-bello/image43.jpg', width="300px" alt='...')
            .media-body
              h4.media-heading Obras finalizadas
              |     Clique na imagem e confira


      nav.text-center.hide
        ul.pagination
          li.disabled
            a(aria-label='Previous')
              span(aria-hidden='true') «
          li.active
            a(href='galeria.html') 1
          li
            a(href='galeria2.html') 2
          li
            a(href='galeria3.html') 3
          li
            a(href='galeria4.html') 4
          li
            a(href='galeria2.html', aria-label='Next')
              span(aria-hidden='true') »


include galeria-modal