.container.spacer-lg
  .col-md-12
    h2 GALERIA
    .col-md-12.box
      .row
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#' title="image1")
            img.img-responsive.thumbnail(src='img/fotos/image37.jpg', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#' title="image2")
            img.img-responsive.thumbnail(src='img/fotos/image38.jpg', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#' title="image3")
            img.img-responsive.thumbnail(src='img/fotos/image39.jpg', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#' title="image4")
            img.img-responsive.thumbnail(src='img/fotos/image40.jpg', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#' title="image5")
            img.img-responsive.thumbnail(src='img/fotos/image41.jpg', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#' title="image6")
            img.img-responsive.thumbnail(src='img/fotos/image42.jpg', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#' title="image7")
            img.img-responsive.thumbnail(src='img/fotos/image43.jpg', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#' title="image8")
            img.img-responsive.thumbnail(src='img/fotos/image44.jpg', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#' title="image9")
            img.img-responsive.thumbnail(src='img/fotos/image45.jpg', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#' title="image10")
            img.img-responsive.thumbnail(src='img/fotos/image46.jpg', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#' title="image11")
            img.img-responsive.thumbnail(src='img/fotos/image47.jpg', alt='')
        .col-lg-3.col-md-4.col-xs-6.thumb
          a(href='#' title="image12")
            img.img-responsive.thumbnail(src='img/fotos/image48.jpg', alt='')

      nav.text-center
        ul.pagination
          li
            a(href='galeria3.html', aria-label='Previous')
              span(aria-hidden='true') «
          li
            a(href='galeria.html') 1
          li
            a(href='galeria2.html') 2
          li
            a(href='galeria3.html') 3
          li.active
            a(href='galeria4.html') 4
          li.disabled
            a(aria-label='Next')
              span(aria-hidden='true') »


#galeria1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='galeria-label')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4#galeria-label.modal-title Prédio Brasília Capital do Brasil
      .modal-body

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Fechar
