.topo
  .background-corte
    .show-top
  .container
    .col-md-6
      .logo
        a(href="index.html")
          img(src='img/logo-bracon.png' alt="logo")
          h1 
            strong
              | BRACON 
            br
            small
              i
                | ENGENHARIA E COMÉRCIO LTDA
    .col-md-6
      .menu
        ul
          li
            a(href="#") PÁGINA INICIAL
          li
            a(href="#") SOBRE
          li
            a(href="#") ESPECIALIDADES
          li
            a(href="#") GALERIA
          li
            a(href="#") CONTATOS
    .col-md-12
      .text-right.clock-phone
        .glyphicon.glyphicon-time  08:00 às 18:00 &nbsp;
        .glyphicon.glyphicon-earphone  (61) 9999-9999


