ul.list-unstyled
  li
    a(href="index.html") PÁGINA INICIAL
  li
    a(href="../sobre.html") SOBRE
  li
    a(href="../especialidades.html") ESPECIALIDADES
  li
    a(href="../galeria.html") GALERIA
  li
    a(href="../contatos.html") CONTATOS