.container
	.col-md-4
		.box
			.style
			.header
				h3 ESPECIALIDADES
			.imagem
				a(href="especialidades.html")
					img.img-responsive(src='img/engenheiro-1.jpg' alt="Especialidades")
					.caption
						.glyphicon.glyphicon-search
	.col-md-4
		.box
			.style.style-force
			.imagem
				a(href="galeria.html")
					img.img-responsive(src='img/buildings-bg.jpg' alt="Galeria")
					.caption
						.glyphicon.glyphicon-search
			.header.header-force
				h3.h3-force.text-right GALERIA
	.col-md-4
		.box
			.style
			.header
				h3 ORÇAMENTO
			.imagem
				a(href="contatos.html")
					img.img-responsive(src='img/contact-us.jpg' alt="Orçamento")
					.caption
						.glyphicon.glyphicon-search
				